h1 {
  text-align: center;
}
ul {
  height: 400px;
  width: 50%;
  margin: auto;
  background-color: CornflowerBlue;
}
section {
  width: 50%;
  margin: auto;
  background-color: CornflowerBlue;
}
.high {
  color: red;
}
.medium {
  color: orange;
}
.low {
  color: white;
}
.done {
  text-decoration: line-through;
}
