nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 40px;
  background-color: DarkBlue;
  width: 100%;
}
nav li {
  display: inline;
}  
nav a {  
  color: white;
  font-size: 25pt;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
nav a:hover {
  color: DarkGray;
}
section {
  width: 49%;
  background-color: DarkGray;
  height: 600px;
  float: left;
  left: 0px;
  margin-top: 40px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
section img {
  width=20%
}
article {
  width: 49%;
  background color: GhostWhite;
  height: 600px;
  float: left;
  margin-top: 40px;
  border-style: dashed;
}
article h2{
  padding: 10px;
}
article ol{
  padding: 10px;
}
footer {
  height: 20px
  clear: both;
  color: DarkBlue;
}
