body {
    font-size: 25px;
    font-family: "Blackadder ITC";
  }
#high {
    color: white;
    background-color: red;
  }  
#medium {
    color: brown;
    background-color: orange;
  } 
#low {
    color: black;
    background-color: grey;
  }
#done {
    text-decoration: line-through;
    color: cyan;
    background-color: black;
  } 
